.calculator {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 margin: auto;
 padding: 20px;
}

.display {
  background-color: var(--white-color);
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: flex-end;
  margin-right: 1em;
  margin-bottom: 0.3em;
  font-size:3.5em;
  border-radius: 0.25em;
}

.display > span {
  padding-right: 0.5em;
  font-size: 36px;
}

.result {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
  width: 350px;
  background-color: var(--calculator-background);
  display: block;
  align-items: center;
  border-radius: 1em;
  padding: 1rem;
}

.special-button {
  background-color: var(--white-color);
}

.operation-button{
  background-color: var(--light-blue-color);
  color: var(--white-color);
}

.numeric-button{
  background-color: var(--gray-color);
  color: var(--white-color);
}

.button{
  width: 3em;
  height: 3em;
  font-size: 1.5em;
  border: none;
  border-radius: 0.8em;
  margin: 0.3em;
}

.button:hover{
  cursor: pointer;
}

@media (max-width:600px) {
  .button {
    width: 2.5em;
    height: 2.5em;
  }
}

@media (max-width:480px) {
  .button {
    width: 2.8em;
    height: 2.8em;
  }
}
@media (max-width:400px) {
  .button {
    width: 2.2em;
    height: 2.2em;
  }
}

@media (max-width:360px) {
  .wrapper {
    scale: 0.9;
  }

  .button {
    width: 1.8em;
    height: 1.8em;
  }
}

